table {
    /* width : 650px; */
    font-size: 0.8em;
    cursor: pointer;
}

/* 테이블의 최상단 줄을 없애는 css */
.table-border-css thead th{
    border:0
}

.favIcon-img {
    width: 25px;
}

.tab-title-cell {
    width: 270px;
    max-width: 270px;
}

/* bootstrap class 수정 */
.table-hover tbody tr:hover{
    background-color:rgba(46, 252, 132, 0.4);
}