/* body 태그에 사용되는 CSS 설정 */
body {
    width   : 730px;
    height  : 490px;
    padding : 0.5rem;

    /* 드래그 방지 */
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
}

#nav-tab{
    height: 40px;
}

/* content가 출력되는 iframe 영역 */
#iframeContentArea{
    width: 730px;
    height: 460px;
    border: none;
}

